Package: apt-transport-https
Source: apt
Version: 1.8.0~alpha3
Architecture: all
Maintainer: APT Development Team <deity@lists.debian.org>
Installed-Size: 150
Depends: apt (>= 1.5~alpha4)
Section: oldlibs
Priority: optional
Description: transitional package for https support
 This is a dummy transitional package - https support has been moved into
 the apt package in 1.5. It can be safely removed.
